.calendar-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 100px;
    padding-top: 100px;
    padding-right: 100px;
}

